*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(135deg, #fdeb71 10%, #f8d800 100%);
  background: url("images/cool-background.png");
  background-repeat: repeat;
  background-size: cover;
  background-position: cover;
}

html {
  position: relative;
  min-height: 100%;
  max-width: 100%;
  font-style: "Poppins";
  font-family: "Poppins", sans-serif;
  margin: 0px;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif !important;
}
/*
* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}
*/

::selection {
  background-color: #006af5;
  color: #ffffff;
}

::-moz-selection {
  background-color: #1a66bc;
  color: #ffffff;
}

a {
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
  color: #333333;
}
a {
  text-decoration: none;
  outline: none;
  color: rgb(52, 29, 153);
}

b {
  font-weight: 600;
  color: #333333;
}

p {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}


.color-bg {
  background-image: linear-gradient(
    73.1deg,
    rgba(34, 126, 34, 1) 8%,
    rgba(99, 162, 17, 1) 86.9%
  ) !important;
}

.color-maroon {
  background-image: linear-gradient(
    134.6deg,
    rgba(201, 37, 107, 1) 15.4%,
    rgba(116, 16, 124, 1) 74.7%
  ) !important;
}

.color-special {
  background-image: radial-gradient(
    circle 972.6px at 10% 20%,
    rgba(243, 0, 75, 1) 0%,
    rgba(255, 93, 75, 1) 90%
  );
}

.color-rainbow {
  background-image: linear-gradient(
    91.4deg,
    rgba(235, 104, 104, 1) -6%,
    rgba(235, 142, 65, 1) 12.4%,
    rgba(233, 221, 101, 1) 31.7%,
    rgba(180, 231, 111, 1) 51.4%,
    rgba(92, 204, 230, 1) 70.1%,
    rgba(101, 113, 233, 1) 89.4%,
    rgba(170, 95, 248, 1) 107.7%
  );
}

.color-purple {
  background-image: linear-gradient(
    109.6deg,
    rgba(119, 44, 232, 0.68) 11.5%,
    rgba(119, 44, 232, 1) 91.2%
  );
}

#general {
  background: url("images/cool-background.png");
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
}

#about {
  background: url("images/light-blue-background.png");
  background-position: center;
  background-repeat: repeat;
}

#project {
  background: url("images/blue-background.png");

  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
}

#experience {
  background: url("images/white-background.png");
  background-position: center;
  background-repeat: repeat;
}


.nav-link {
  color: rgb(0, 0, 0);
  border-radius: 2.5rem;
}

.nav-link:hover {
  background-color: rgb(162, 0, 255);
  border-radius: 2.5rem;
  color: rgb(255, 255, 255) !important;
}


.row:before,
.row:after {
  display: none !important;
}
.social-icon {
  list-style: none;
  padding: 0px;
  padding-left: 0px;
  margin: 0;
  margin-top: 15px;
}

.social-icon:before,
.social-icon:after {
  content: " ";
  display: table;
}

.social-icon li {
  display: inline-block;
  margin: 2px 4px;
}

.social-icon li a {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 52px;
  color: #fff;
  text-align: center;
  border: 0 none;
  border-radius: 50%;
  font-size: 20px;
  box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
  transition: all 0.3s ease-in-out;
}

.social-icon li a:hover {
  box-shadow: 0px 8px 15px 0px rgba(83, 83, 83, 0.33);
}
.social-icon li a:hover {
  color: rgb(255, 255, 255);
}

.facebook {
  background-color: #3b5998;
}

.google-plus {
  background-color: #dd4b39;
}

.instagram {
  background-color: #d636c1;
}

.linkedin {
  background-color: #0077b5;
}

.github {
  background-color: #333333;
}

hr {
  height: 6px;
  border: none;
  background-color: #254f87c2 !important;
  background-color: #768fafc2 !important;
  border-radius: 10px;
  margin: 0px auto !important;
  width: 10% !important;
  opacity: 1;
}

.text {
  background: linear-gradient(
    90deg,
    rgb(87, 76, 243) 30%,
    rgba(136, 243, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.zoom {
  transition: transform 0.2s; /* Animation */
}

.zoom:hover {
  transform: scale(
    1.1
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  
}
.bg-soft-primary {
  background-color: rgba(64, 144, 203, 0.5) !important;
}
.bg-soft-success {
  background-color: rgba(71, 189, 154, 0.5) !important;
}
.bg-soft-danger {
  background-color: rgba(231, 76, 94, 0.5) !important;
}
.bg-soft-warning {
  background-color: rgba(249, 212, 112, 0.53) !important;
}
.card {
  -webkit-box-shadow: 0 0 13px 0 rgba(236, 236, 241, 0.44);
  box-shadow: 0 0 13px 0 rgba(236, 236, 241, 0.44);
}
