body {
    background: rgb(137,58,189);
    background: linear-gradient(68deg, rgba(137,58,189,1) 37%, rgba(255,210,125,1) 100%);
    max-width: 100%;
    overflow-x:hidden;
    margin:0;
    font-family: 'Poppins';
}


html {
    position: relative;
    min-height: 100%;
    max-width: 100%;
    font-style: "helvatica"
}

::selection {
    background-color: #1abc9c;
    color: #ffffff;
}

::-moz-selection {
    background-color: #1abc9c;
    color: #ffffff;
}

a {
    text-decoration: none ;
    
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
    color: #333333;
}
a{
    text-decoration: none;
    outline: none;
    color: rgb(14, 124, 158);
    
}

b {
    font-weight: 600;
    color: #333333;
}

p {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}

.social-icon {
    text-align: center;
}

.social-icon:before,
.social-icon:after {
  content: " ";
  display: table;
}

.social-icon:after {
  clear: both;
}

.social-icon li {
    display: inline-block;
    margin: 2px 3px;
    align-content: center;
  }
.social-icon li a {
    font-size: 35px;
    color:black;
    text-align: center;
    align-content: center;
    
  }
  .social-icon li a:hover{
      color:rgb(105, 96, 96);
  }
 

  
  @media screen and (max-width: 600px) {
    .social-icon li a {
        font-size: 30px;
        color:black;
        text-align: center;
        align-content: center;
        
      }

  }
     li.nav-item a:hover{
    text-decoration: none;
    outline: none;
    color: #333333;
  }
  
 
  
  @media screen and (min-width: 601px) {
    div.example {
      font-size: 1px
    }
  }
 
  hr {
    
    display:block;
    width: 100%;               
    background-color:white;
    height: 1px;
  }
  div.hov p.h6 a{
      text-decoration: none;
      outline: none;
      color: rgb(72, 197, 228);
      
  }
  div.hov p.h6 a:hover{
    text-decoration: none;
    outline: none;
    color: rgb(193, 196, 199);
    
}
 

  
  #navi li a{
    text-decoration: none;
    outline: none;
    font-weight: 600;
    color:  black;
    clear:both;
    
    
  }
  #navi li a:focus,a:active{
    text-decoration: none;
    outline: none;
    
  }
  #navi li a:hover{
    
    font-weight: 600;
    color:rgb(3, 123, 153);
    
    
  }
  #fontss p {
      font-weight: 700;
      color: #FFFF00;
  }
.email p a{
 text-decoration: none;
 color: #000000;
 font-weight:300;
 
}
.phone p a{
    text-decoration: none;
    color: #000000;
    font-weight:300;
    
   }

